<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sistemas">
    <meta name="theme-color" content="#00AEDD">
    <link rel="stylesheet" href="/Assets/css/styles.css">
    <link rel="stylesheet" href="/Assets/css/normalize.css">
    <link rel="stylesheet" href="/Assets/css/util.css">
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="/Assets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shorcut icon" href="/Assets/images/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title> Búsqueda | FarmAnimals </title>
</head>
<body>
  
    <header class="header">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full contenedor">
                    <div class="left-top-bar">
                        Bienvenido : </strong>
                    </div>
    
                    <div class="right-top-bar flex-w h-full">          
              
            <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                            Correo
                        </a>
              <a href="" class="flex-c-m trans-04 p-lr-25"data-bs-toggle="modal" data-bs-target="#miHelp">
                <i class="fa-solid fa-question"></i>&nbsp;&nbsp;&nbsp;
                Help & FAQs
              </a>
                    </div>
                </div>
            </div>
    
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop contenedor">
                    
                    <!-- Logo desktop -->		
                    <a href="/index.html" class="logo">
                        <img src="/Assets/images/logo.png" alt="Logo Imagen">
                    </a>
    
                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="#home">Inicio</a>
                            </li>
    
                            <li>
                                <a href="#servicios">Servicios</a>
                            </li>
    
                            <li class="label1" data-label1="hot">
                                <a href="#consultorios">Consultorios</a>
                                <ul class="sub-menu">
                                    <li><a href="/Views/sucursales/delValle.html">Del Valle</a></li>
                                    <li><a href="/Views/sucursales/lomasVerdes.html">Lomas Verdes</a></li>
                    <li><a href="/Views/sucursales/proHogar.html">Prohogar</a></li>
                  </ul>
                            </li>
                            <li>
                                <a href="Views/nosotros.html">Conócenos</a>
                            </li>
                <li>
                                <a href="contac.html" >Contactanos</a>
                            </li>
                        </ul>
                    </div>	
                </nav>
            </div>	
        </div>
    
        <!-- Header Mobile -->
        <div class="wrap-header-mobile" id="wrap-header-mobile">
            <!-- Logo moblie -->		
            <div class="logo-mobile">
                <a href="/index.html"><img src="/Assets/images/logo.png" alt="Logo Imagen"></a>
            </div>
    
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    
    
        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Bienvenido: </strong>
                    </div>
                </li>
    
                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                        Correo
                                    </a>
                          <a href="" class="flex-c-m trans-04 p-lr-25" data-bs-toggle="modal" data-bs-target="#miHelp">
                            <i class="fa-solid fa-question"></i>&nbsp;&nbsp;&nbsp;
                            Help & FAQs
                          </a>
                    </div>
                </li>
            </ul>
    
            <ul class="main-menu-m">
                <li>
                    <a href="#home">Inicio</a>
                </li>
    
                <li>
                    <a href="#servicios">Servicios</a>
                </li>
    
                <li>
                    <a href="#consultorios" class="label1 rs1" data-label1="hot">Consultorios</a>
                    <ul class="sub-menu-m">
              <li><a href="Views/sucursales/delValle.html">Del Valle</a></li>
                        <li><a href="Views/sucursales/proHogar.html">Pro Hogar</a></li>
                        <li><a href="Views/sucursales/lomasVerdes.html">Lomas Verdes</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
    
                <li>
                    <a href="Views/nosotros.html">Conócenos</a>
                </li>
    
          <li>
                                <a href="contac.html" >Contactanos</a>
          </li>
            </ul>
        </div>
    </header>

    <!-- Estructura de Búsqueda -->
    <div class="search__container-1">
        <section class="texts-se">
            <h1 class="title-1">Servicio de <strong class="title-2">Facturación</strong><h3 class="title-3">en línea</h3></h1>
            <div class="texts-paragraph">
                <h4 class="subtitle-se">Buscar Ticket</h4>
                <p class="paragraph__search">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam dolor alias, asperiores obcaecati sint iure corporis laudantium, optio corrupti fugit reiciendis esse itaque. Tenetur neque beatae repudiandae quos reprehenderit omnis.</p>
            </div>

            <form action="" class="form-search" id="form-search">
                <div class="form-news">
                    <!-- Grupo: Ticket -->
                    <div class="formulario__grupo" id="grupo__ticket">
                        <label for="ticket" class="formulario__label">Ticket</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input ticket" name="ticket" id="ticket" placeholder="000">
                            <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="formulario__input-error">Coloca un No. Ticket de 5 dígitos.</p>
                    </div>
                    <!-- Grupo: PIN -->
                    <div class="formulario__grupo" id="grupo__pin">
                        <label for="pin" class="formulario__label">PIN</label>
                        <div class="formulario__grupo-input">
                            <input type="pin" class="formulario__input" name="pin" id="pin">
                            <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="formulario__input-error">Coloca un PIN de 3 dígitos.</p>
                    </div>
                </div>
                <div class="button-search">
                    <input type="submit" value="Buscar" class="btn-access-search solid">
                </div>
            </form>
        </section>
        <section class="image-search">
            <div class="circle"></div>
            <img src="/Assets/images/uploads/undraw_medical_care_movn (2).png" alt="Imagen Derecha Search" class="image__search">
        </section>
        <section class="social__media-search">
            <ul class="sci">
                <li><a href="https://www.facebook.com/FARMANIMALSMX/"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="miHelp" tabindex="-1" aria-labelledby="modalFAQS" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFAQS">Help & FAQs</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1 class="title__modal-dudas">Dudas</h1>
              <p class="paragraph__modal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta necessitatibus blanditiis ducimus commodi minima atque. Dignissimos adipisci odit voluptates sunt molestias exercitationem deserunt dolore fuga et. Ipsam dolorem sunt vitae</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>


    <script src="/Assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/Assets/vendor/animsition/js/animsition.min.js"></script>
    <script src="/Assets/js/main.js"></script>
    <script src="/Assets/js/formSearch.js"></script>
    <script src="/Assets/js/plugins/sweetalert2.all.min.js"></script>
    <!-- Botstrap - Modal -->
    <script src="/Assets/js/plugins/bootstrap.bundle.min.js"></script>
</body>
</html>