<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sistemas">
    <meta name="theme-color" content="#00AEDD">
    <link rel="stylesheet" href="/Assets/css/styles.css">
    <link rel="stylesheet" href="/Assets/css/normalize.css">
    <link rel="stylesheet" href="/Assets/css/util.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="/Assets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/Assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shorcut icon" href="/Assets/images/icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title> Búsqueda | Productos </title>
</head>
<body>
  
    <header class="header">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full contenedor">
                    <div class="left-top-bar">
                        Bienvenido : </strong>
                    </div>
    
                    <div class="right-top-bar flex-w h-full">          
              
            <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                            Correo
                        </a>
              <a href="#help" class="flex-c-m trans-04 p-lr-25">
                <i class="fa-solid fa-question"></i>&nbsp;&nbsp;&nbsp;
                Help & FAQs
              </a>
              
              <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;
                            5516474137
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop contenedor">
                    
                    <!-- Logo desktop -->		
                    <a href="/index.html" class="logo">
                        <img src="/Assets/images/logo.png" alt="Logo Imagen">
                    </a>
    
                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="#home">Inicio</a>
                            </li>
    
                            <li>
                                <a href="#servicios">Servicios</a>
                            </li>
    
                            <li class="label1" data-label1="hot">
                                <a href="#consultorios">Consultorios</a>
                                <ul class="sub-menu">
                                    <li><a href="/Views/sucursales/delValle.html">Del Valle</a></li>
                                    <li><a href="/Views/sucursales/lomasVerdes.html">Lomas Verdes</a></li>
                    <li><a href="/Views/sucursales/proHogar.html">Prohogar</a></li>
                  </ul>
                            </li>
                            <li>
                                <a href="Views/nosotros.html">Conócenos</a>
                            </li>
                <li>
                                <a href="contac.html" >Contactanos</a>
                            </li>
                        </ul>
                    </div>	
                </nav>
            </div>	
        </div>
    
        <!-- Header Mobile -->
        <div class="wrap-header-mobile" id="wrap-header-mobile">
            <!-- Logo moblie -->		
            <div class="logo-mobile">
                <a href="/index.html"><img src="/Assets/images/logo.png" alt="Logo Imagen"></a>
            </div>
    
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    
    
        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Cuidado preventivo para tu fiel amigo, la atención que merece a un super precio <strong>Consulta básica $99.00 </strong>
                    </div>
                </li>
    
                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                        Correo
                                    </a>
                          <a href="#help" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa-solid fa-question"></i>&nbsp;&nbsp;&nbsp;
                            Help & FAQs
                          </a>
                          
                          <a href="Views/agendarCita.html" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                        5516474137
                                    </a>
                    </div>
                </li>
            </ul>
    
            <ul class="main-menu-m">
                <li>
                    <a href="#home">Inicio</a>
                </li>
    
                <li>
                    <a href="#servicios">Servicios</a>
                </li>
    
                <li>
                    <a href="#consultorios" class="label1 rs1" data-label1="hot">Consultorios</a>
                    <ul class="sub-menu-m">
              <li><a href="Views/sucursales/delValle.html">Del Valle</a></li>
                        <li><a href="Views/sucursales/proHogar.html">Pro Hogar</a></li>
                        <li><a href="Views/sucursales/lomasVerdes.html">Lomas Verdes</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
    
                <li>
                    <a href="Views/nosotros.html">Conócenos</a>
                </li>
    
          <li>
                                <a href="contac.html" >Contactanos</a>
          </li>
            </ul>
        </div>
    </header>
    
    <div class="left__search-contenedor">
        <div class="circle2"></div>
        <section class="image-circle">
            <img src="/Assets/images/uploads/undraw_dog_walking_re_l61p.svg" alt="Doctores" class="Doctores">
        </section>
        <section class="right__search-contenedor">
            <h1 class="title--1">Datos <strong class="title--2">Reconocidos</strong> </h1>

            <div class="texts-paragraph2">
                <h4 class="subtitle-se">Productos encontrados</h4>
                <p class="paragraph__search">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, debitis in non nesciunt suscipit totam laboriosam sapiente adipisci dolorem.</p>
            </div>

            <!-- Formulario DataTable -->
            <div class="row">
                <div class="col-md-12">
                  <div class="tile">
                    <div class="tile-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="sampleTable">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Cantidad</th>
                              <th>Costo</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                            </tr>
                            <tr>
                              <td>Garrett Winters</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                            </tr>
                            <tr>
                              <td>Ashton Cox</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                            </tr>
                            <tr>
                              <td>Cedric Kelly</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                            </tr>
                            <tr>
                              <td>Airi Satou</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                            </tr>
                            <tr>
                              <td>Brielle Williamson</td>
                              <td>Integration Specialist</td>
                              <td>New York</td>
                            </tr>
                            <tr>
                              <td>Herrod Chandler</td>
                              <td>Sales Assistant</td>
                              <td>San Francisco</td>
                            </tr>
                            <tr>
                              <td>Rhona Davidson</td>
                              <td>Integration Specialist</td>
                              <td>Tokyo</td>
                            </tr>
                            <tr>
                              <td>Colleen Hurst</td>
                              <td>Javascript Developer</td>
                              <td>San Francisco</td>
                            </tr>
                            <tr>
                              <td>Sonya Frost</td>
                              <td>Software Engineer</td>
                              <td>Edinburgh</td>
                            </tr>
                            <tr>
                              <td>Jena Gaines</td>
                              <td>Office Manager</td>
                              <td>London</td>
                            </tr>
                            <tr>
                              <td>Quinn Flynn</td>
                              <td>Support Lead</td>
                              <td>Edinburgh</td>
                            </tr>
                            <tr>
                              <td>Charde Marshall</td>
                              <td>Regional Director</td>
                              <td>San Francisco</td>
                            </tr>
                            <tr>
                              <td>Haley Kennedy</td>
                              <td>Senior Marketing Designer</td>
                              <td>London</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="buttons-search">
                <input type="submit" value="Cancelar" class="btn-cancel">
                <input type="text" value="Facturar" class="btn-factura">
            </div>
        </section>
    </div>

    <script src="/Assets/js/plugins/jquery-3.5.1.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>

    <script src="/Assets/vendor/animsition/js/animsition.min.js"></script>
    <script src="/Assets/js/main.js"></script>

    <script src="/Assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/Assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/Assets/js/dataTables.js"></script>

    <!-- Importación de Js para el uso de excel, PDF, csv, o copiar la informacion de DataTable -->
    <script src="/Assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/Assets/js/plugins/jszip.min.js"></script>
    <script src="/Assets/js/plugins/pdfmake.min.js"></script>
    <script src="/Assets/js/plugins/vfs_fonts.js"></script>
    <script src="/Assets/js/plugins/buttons.html5.min.js"></script>


</body>
</html>